<script async src="https://cse.google.com/cse.js?cx=003909369750094775415:9g7ozmttdxm"></script>

<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">Webb Creek Sawmill</a>
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"></button>
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-navigation">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Home</a>
      <a class="nav-item nav-link" href="#products">Products</a>
      <a class="nav-item nav-link" href="#about">About</a>
      <a class="nav-item nav-link" href="#contact">Contact</a>
      <form class="form-inline my-2 my-lg-0">
          <div class="gcse-search"></div>

        </form>
    </div>
  </div>
</nav>

